[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
foxglove-websocket = {editable = true, path = "./python/foxglove-websocket"}
foxglove-websocket-examples = {editable = true, path = "./python/foxglove-websocket-examples"}

[dev-packages]
black = "*"
build = "*"
pipenv = "*"
pytest = "*"
pytest-asyncio = "*"
pyright = "*"

[requires]
python_version = "3.8"
